<%= render @blogs %>
<p>
<nav class="blog-pagination">
  <%= link_to_next_page @blogs, 'Ранее', class: "btn btn-outline-primary" %>
  <%= link_to_prev_page @blogs, 'Позднее', class: "btn btn-outline-primary" %>
</nav>
</p>
