<h1 >Немного о себе</h1>
<div class="row">
  <div class="col md-4" style="text-align:left">
  <%= image_tag "http://via.placeholder.com/200x300", width: 200, alt: 'profile image', class: "about-img" %>

    <p>Фамилия: Казанцев</p>
    <p>Имя: Владимир</p>
    <p>Отчество: Петрович</p>
    <p>Родился 8 мая 1970г. в городе Владивостоке, где сейчас и проживаю. В 1996г. окончил Дальневосточный Государственный универститет с дипломом переводчика японского языка. Работал в судоходных компаниях, занимался автомобильным бизнесом и поставками автозапчастей из Японии.</p>
    <p>В 2017г. увлекся разработкой приложений на Ruby и Ruby on Rails. В настоящее время прохожу обучение в онлайн-школе <%= link_to 'Tninknetica', "http://thinknetica.com", target: '_blank' %>. Дополнительно изучаю курсы Джордана Хадженса на <%= link_to 'Udemy.com', "https://www.udemy.com/professional-rails-5-development-course/", target: '_blank' %>. </p>
    <p>Хорошо владею японским и английским языками, учу испанский.
    </p>

  </div>
</div>
